{% extends 'layout.html' %}
{% block title%}
Spotify inicio
{% endblock %}

{% block content %}

<div class="main_content">
    <!--1 FILA-->
    <div class="container_name_songs">
        <h1 class="title_playlist">
            MIS CANCIONES
        </h1>
        <form action="{{url_for('filtrar', id_user = user, autor =' ',nombre = ' ' ,buscar = ' ', idgen = 0, like = 2)}}" method="GET" class="OptionBusqueda">
            <div class="Btn_Lupa"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
            <div>
                <input type="text" class="input" name="BusquedaNom" placeholder="Nombre de cancion">
            </div>
            <div class="checkfilter">
                <label style="color: whitesmoke; font-size: medium;">Genero: </label>
                <select id="list_generos" name="BusquedaGen" onchange="checkOption(this.value)">
                    <option value="">Todas</option>
                    {% for genero in generos %}
                    <option value={{genero.id}}>{{genero.id}}. {{genero.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="checkfilter">
                <label style="color: whitesmoke; font-size: medium;">Filtrar por: </label>
                <select id="list_generos" name="BusquedaLike" onchange="checkOption(this.value)">
                    <option value=2>Todo</option>
                    <option value=0>No me gusta</option>
                    <option value=1>Me gusta</option>
                </select>
            </div>
        </form>
        
        {% if recuperadas %}
        <div id="music_container_cards" class="container_musics_cards">
            {% for recuperada in recuperadas %}
            <!-- <form action='/reproduccion/User_{{recuperada.usuario_id}}/Autor={{recuperada.autor}}/Cancion={{recuperada.nombrecancion}}/busqueda/id_genero' method="GET"> -->
            <form action="{{url_for('filtrar', id_user = recuperada.usuario_id, autor = recuperada.autor,nombre = recuperada.nombrecancion ,buscar = buscar, idgen = idgen, like = like)}}" method="GET">
                <div class="music_card">
                    <div class="card">
                        <div class="card_img">
                            {% if recuperada.foto %}
                            <img src="/static/img/ImgUser_{{recuperada.usuario_id}}/{{recuperada.autor}}-{{recuperada.nombrecancion}}.PNG"
                                alt="nophoto">
                            {% else %}
                            <img src="/static/img/unknown.jpg" alt="nophoto">
                            {% endif %}
                        </div>
                        <h2>{{recuperada.nombrecancion}}</h2>
                        <p>{{recuperada.autor}} - Genero: {{recuperada.genero}}</p>
                        <div style="display: flex; justify-content: space-between;">
                            <a href="{{ url_for('editSong', id_user = user, id_reg = recuperada.id)}}" style="font-size: small; color: aliceblue;">Editar</a>
                            <a href="{{ url_for('actionlike', id_user = recuperada.usuario_id, id_reg = recuperada.id, EstadoAnt = recuperada.ilike, direccion = 'home')}}" style="font-size: medium;">
                                <i class="fa-solid fa-heart {% if recuperada.ilike == True %}likerojo{% else %}likeamarillo{% endif %}"></i>
                            </a>
                        </div>
                        
                    </div>

                </div>
            </form>

            {% endfor%}
        </div>
        {% endif %}
    </div>

    <!--REPRODUCCION-->
    <div class="play">
        <div class="content">
            <audio id="audio_repro" class="audio_rep" controls autoplay>
                {% if autor != "" and nombre != "" %}
                <source id="source_repro" src="/static/music/MusicUser_{{user}}/{{autor}}-{{nombre}}.mp3" type="audio/mpeg">
                {% endif %}
            </audio>
        </div>
    </div>
</div>
{% endblock %}