{% extends 'layout.html' %}
{% block title%}
Spotify inicio
{% endblock %}

{% block content %}

<section class="main_content">
    <!--1 FILA-->
    <div class="container_name_songs">
        <h1 class="title_playlist">
            CANCIONES
        </h1>

        <div class="container_musics_cards">
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container_name_songs">
        <h1 class="title_playlist">
            POPOSOTE
        </h1>

        <div class="container_musics_cards">
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
            <div class="music_card">
                <div class="card">
                    <div class="card_img">
                        <img src="../static/img/unknown.jpg" alt="nophoto">
                    </div>
                    <h2>TITULO X</h2>
                    <p>Un parrafo x tambien</p>
                </div>
            </div>
        </div>
    </div>

    <!--REPRODUCCION-->
    <div class="play">
        <div class="content">
            <audio class= "audio_rep" controls>

            </audio>
        </div>
        
    </div>
</section>
{% endblock %}