{% extends 'layout.html' %}
{% block title%}
Spotify inicio
{% endblock %}

{% block content %}

<div class="main_content">
    <!--1 FILA-->
    <div class="container_name_songs">
        <h1 class="title_playlist">
            MIS CANCIONES
        </h1>
        <form action="/index/{{user}}" method="get" class="OptionBusqueda">
            <div class="Btn_Lupa"><button><i class="fa-solid fa-magnifying-glass"></i></button></div>
            <div>
                <input type="text" class="input" name="BusquedaNom" placeholder="Nombre de cancion">
            </div>
            <div class="checkfilter">
                <select id="list_generos" name="BusquedaGen" onchange="checkOption(this.value)">
                    <option value=""></option>
                    {% for genero in generos %}
                    <option value={{genero.id}}>{{genero.id}}. {{genero.nombre}}</option>
                    {% endfor %}
                </select>
            </div>
        </form>

        {% if recuperadas %}
        <div id="music_container_cards" class="container_musics_cards">
            {% for recuperada in recuperadas %}
            <form action='/reproduccion/{{recuperada.usuario_id}}/{{recuperada.autor}}/{{recuperada.nombrecancion}}'method="get">
                <div class="music_card">
                    <div class="card">
                        <div class="card_img">
                            {% if recuperada.foto %}
                            <img src="/static/img/ImgUser_{{recuperada.usuario_id}}/{{recuperada.autor}}-{{recuperada.nombrecancion}}.PNG"
                                alt="nophoto">
                            {% else %}
                            <img src="/static/img/unknown.jpg" alt="nophoto">
                            {% endif %}
                        </div>
                        <h2>{{recuperada.nombrecancion}}</h2>
                        <p>{{recuperada.autor}} - Genero id: {{recuperada.genero}}</p>
                        <div style="display: flex; justify-content: space-between;">
                            <a href="{{ url_for('editSong', id_user = user, id_reg = recuperada.id)}}" style="font-size: small; color: aliceblue;">Editar</a>
                            
                        </div>
                        
                    </div>

                </div>
            </form>

            {% endfor%}
        </div>
        {% endif %}
    </div>

    <!--REPRODUCCION-->
    <div class="play">
        <div class="content">
            <audio id="audio_repro" class="audio_rep" controls autoplay>
                {% if autor != "" and nombre != "" %}
                <source src="/static/music/MusicUser_{{user}}/{{autor}}-{{nombre}}.mp3" type="audio/mpeg">
                {% endif %}
            </audio>
        </div>
    </div>
</div>
{% endblock %}